.main *
.main html, body
{
    height: 100%;
}
.main body
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
    margin: 0;
}
.main .links2
{
    display: none;
}

.main .aplikacje
{
    display:none;
}

.main .ilosc_wynikow
{
    display: none;
}

.main .kreska_pozioma
{
    display: none;
}

.main .zawartosc
{
    display: none;
}

.main .iks
{
    display: none;
}

.main .lupa2
{
    display: none;
}


.main .up
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    flex-shrink: 0;
    box-sizing: border-box;
    height: 60px;
}
.main .srodek{
    
    padding-bottom: 7px;
     position: relative;
    top: 145px;
    height:10fr;
    width: 100%;
}
.main .logo
{
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding-bottom: 7px;
    max-height: 92px;
}
.main .search
{
    display: block;
    justify-content: center;
    grid-template-rows: 50% 50%;
    position: relative;
    margin: 0 auto;
    padding: 20px;
     width: 500px;
}

.main .wyszukaj
{
    display: block;
    justify-content: center;
    grid-template-rows: 50% 50%;
    position: relative;
    margin: 0 auto;
    padding: 20px;
	width: 500px;
}
.main .write
{
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
     padding-bottom: 5px;
    position: relative;

  /*  height: 39px;
    margin: 0 auto;
    padding-top: 6px;
    width: auto;
    max-width: 584px;
    background: #fff;
    display: flex; */
}



.main .wyszukiwacz
{
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
    margin: 0 auto;
    width: 450px;
    max-width: 584px;
    height: 29px;
}
.main img.lupa1
{
    margin-top: 3px;
	padding-left: 22px;
	padding-top: 0px;
    height: 18px;
    cursor: pointer;
}
.main img.lupa
{
    margin: auto;
    height: 25px;
    padding-bottom: 8px;
     cursor: pointer;
}

.main img.klaw
{
    margin: auto;
    height: 18px;
    padding-bottom: 8px;
    padding-right: 10px;
}

.home img.mikrofon
{
    margin: auto;
    height: 18px;
	padding-left: 15px;
    cursor: pointer;
}
.main input
{
    background-color: transparent;
    margin: 0;
    border: none;
    padding: 0;
    padding-bottom: 10px;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    height: 34px;
    font-size: 16px;
    font-family: arial,sans-serif;
    -webkit-appearance: textfield;
    font-weight: 400;
    text-align: start;
}


.main .przyciski
{
    height: 70px;
}
.main .button
{
    display: block;
    text-align: center;
    padding-top: 20px;
}
.main .przycisk1
{
    display: inline-block;
    background-color: #F8F9FA;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}
.przycisk1:hover,
.przycisk1:focus 
{
    box-shadow: 3px 6px 0.2em -0.3em #d9d9d9;
    border: 1px solid #d9d9d9;
}
.main .przycisk2
{
    display: inline-block;
    background-color: #F8F9FA;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}
.przycisk2:hover,
.przycisk2:focus 
{
    box-shadow: 3px 6px 0.2em -0.3em #d9d9d9;
    border: 1px solid #d9d9d9;
}

.main .language
{
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}
.main a.korzystaj{
    padding-right: 7px;
}
.main a.english{
    padding: 0;
    color: #1a0dab;
    text-decoration: none;
}

.main .down
{
    /*display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #f2f2f2;*/
    background-color: rgb(242,242,242);
    position: absolute;
    bottom: 1px;
    width: 100%;
    display: inline-block;
    justify-content: space-between;
    font-family: arial, sans-serif;
    font-size: 13px;
    border-top: 1px solid rgb(228,228,228);
    height: 1fr;
   
}
.main .polska{
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,.54);
    font-family: arial,sans-serif;
}
.main .dolnapisy{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    margin: 0 auto;
}
.main .dolnapisy1{
    min-width: 30%;
    text-align: left;
    order: 1;  
}
.main .neutralnosc{
    order: 2;   
}
.main .neutral{
    padding-left: 10px;
}
.main img.listek{
    height: 14px;
    margin-right: 6px;
}
.main .neutraltekst{
    white-space: nowrap;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #70757a;
    display: inline-block;
    padding: 13px;
    padding-left: 0;   
}

.main .dolnapisy2{
    text-align: right;
    min-width: 30%;
    order: 3;
}

.main dolnapisy1{
    text-decoration: none;
    cursor: pointer;    
    color: #70757a;
    font-size: 14px;
    font-family: arial,sans-serif;
    padding: 15px;
    white-space: nowrap;
    display: inline-block; 
}

.main napisyup{
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    height: 24px;
    width: 41,913px;
    cursor: pointer;
    display: inline-block;
    font-family: arial, sans-serif;
    font-size: 13px;
    font-stretch: 100%;
    font-weight: 400;
    line-height: 24px;
    text-decoration-color: rgba(0, 0, 0, 0.87);
    text-decoration-line: none;
    text-decoration-style: solid;
    user-select: none;
    vertical-align: middle;    
    white-space: nowrap;
    width: 41.9125px;
}
.main kropki{
    display: inline-block;
    vertical-align: middle;
    padding: 4px;
}
.main zaloguj{
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    margin-left: 10px;
    margin-right: 8px;
    min-width: 96px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    box-sizing: border-box;
    background: #1a73e8;
    border: 1px solid transparent;
    color: #fff;
    margin-left: 8px;
    outline: none;
    white-space: nowrap;
}
.main .lista{
    font-family: arial,sans-serif;
}
.main ul
{
    display: block;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.main ul:hover,
.main ul:focus 
{
    box-shadow: 0 0 0.3em 0.1em #d9d9d9;
}
@media only screen and (max-width: 1200px)
{
    .dolnapisy2{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        text-align: right;
        min-width: 30%;
        order: 3;
    }
    .dolnapisy1{
        justify-content: flex-start;
        min-width: 30%;
        text-align: left;
        order: 1;
        display: flex;
        flex-wrap: wrap;   
    }
    .dolnapisy{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0 20px;
    }
}
@media only screen and (max-width: 600px)
{
    .dolnapisy2{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        min-width: 30%;
        order: 3;
    }
    .dolnapisy1{
        justify-content: flex-start;
        min-width: 30%;
        order: 1;
        display: flex;
        flex-wrap: wrap;   
    }
    .dolnapisy{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0 20px;
        text-align: center;
    }
    
}






